body {
    background-color: rgba(174, 207, 131, 0.514);
}

main {
    margin-top: 50px;
}

h2 {
    margin: 0 auto;
}

#contenedor {
    margin: auto;
    padding: 10px;   
}

.form-label {
text-align: center;
}

#button {
    text-align: center;
}


@media screen and (max-width: 720px) {
    main {
      margin-top: 10px;
    }

    #contenedor{
        min-width: 50%;
        padding: 10px;
    }
    #contenedor2 {
        min-width: 75%;

    }
}

  
@media screen and (max-width: 1024px) {
    main {
      margin-top: 10px;
    }
    #contenedor{
        min-width: 50%;
        padding: 10px;
    }
    #contenedor2 {
        min-width: 75%;
    }
}